<br>
<br>
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <input type="text" class="form-control" [(ngModel)]="newTodo.title"> <br>
    <button (click)="addTodo()" class="btn btn-success btn-block">Add task</button>
  </div>
</div>
<br>
<br>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos; let i = index">
        <td>{{todo.id}}</td>
        <td>{{todo.title}}</td>
        <td>
          {{todo.completed}}
          <button (click)="removeTodo( i )" class="btn btn-danger">Remove</button>
          <star (makingFav)="makeFav( i, $event )" [isFav]="todo.isFav"></star>
          {{todo.isFav}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
